body{
  font-family: 'Oswald', sans-serif;
  background-color:lightgrey;
}

img{
  float:left;
  position: relative;
  width: 25%;
  height: 25%;
  margin-left: 5%;
}

button{
  background-color:#7BAFD4;
  border: none;
  color: white;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}

.text-right{
  position: relative;
  float: right;
  margin-left: 20%;
  padding-right: 30%;
}
