h1{
    font-family: 'Oswald', sans-serif;
    
     
}
h2{
  
    font-family: 'Oswald', sans-serif;

}

img{
    float:left;
    position: relative;
    width: 25%;
    height: 25%;
    padding-left: 5%
    
}

body{
    background-color:lightgrey;
}

button{
    background-color:#7BAFD4;
    border: none;
  color: white;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Oswald', sans-serif;
  font-size: 12px;
}

.text-right{
    position: relative;
    float: right;
    margin-left: 20%;
    padding-right: 30%;
}